*{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

body{
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(ro right,#fff, #ccc, #fff, #ccc);
  font-size: 2.5rem;
  font-weight: 600;
}


.grid{
  min-height: 100vh;
  /* border: blue solid 1px; */
  justify-content: center;
  /* align-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-rows: minmax(100px, auto) ; */
}

.grid .display{
  display: flex;  
  /* max-height: 250px; */
  flex-direction: column;
  text-align: right;
  padding-right: 2rem;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  background: #4dc4ff;
  grid-column: span 2;
  grid-row: 1fr;
}
.grid .display .expression{
  color: #ddd;
  font-size: 2rem;
}
.grid .display .answer{
  color: #fff;
  font-size: 3rem;
}


.grid .left{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-row: span 2;

}


.grid .right{
  display: grid;
  grid-template-columns:  repeat(4, 100px);
  grid-row: span 2;

}

.span-two{
  grid-column: span 2;
}

button:hover{
  background: #fff;
  color:#3939ff;

}

button{
  background: #3939ff;
  color:#fff;
  border: #3939ff 1px solid;
  cursor: pointer;
}